﻿@model socketsv2.Models.IndexModel
@using socketsv2

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gradient"></div>
<div class="blur"></div>
<div id="wrapper">
    <div id="answerWrapper">
        @using (Html.BeginForm())
        {
        <span class="nameLabel">Name:</span>
        @Html.EditorFor(m=>m.Name);
        <input type="submit" value="Play!" />
        }
    </div>
</div>
