﻿@using socketsv2
@using socketsv2.Messages
@using socketsv2.Messages.Client

@model socketsv2.Controllers.HostModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gradient"></div>
<div class="blur"></div>
<div id="wrapper">
    <div id="answerWrapper">
        <form method="get" action="@Url.Action("Play")">
            <label>Session name:</label>
            @Html.TextBoxFor(m => m.SessionName, new {
                    @class = "text-box single-line"
                })
            <input type="submit" value="Play"/>

        </form>
    </div>
</div>
