﻿@using socketsv2
@using socketsv2.Messages
@using socketsv2.Messages.Client

@model socketsv2.Models.PlayerModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gradient"></div>
<div class="blur"></div>
<div id="wrapper">

    <div id="status">
        <span class="succes" id="statusSpan"></span>
    </div>

    <div id="scores">
        <h2>Correct answers</h2>
        <div id="scoresContent"></div>
    </div>

    <div id="players">
        <h2 id="header">Who's playing</h2>
        <p class="connected" data-player="@Model.Name">@Model.Name</p>
        @foreach (var player in Model.ConnectedPlayers)
        {
            <p class="connected" data-player="@player">@player</p>
        }
    </div>

    <div class="gameWrapper">
        <div id="sessionWrapper">
            <h1>@Model.SessionName</h1>
        </div>

        <div id="answerWrapper">
            <h1>Question <span id="questionNumber">1</span></h1>
            <button data-id="answerbutton" onclick="send('a');" data-answer="a">A</button>
            <button data-id="answerbutton" onclick="send('b');" data-answer="b">B</button>
            <button data-id="answerbutton" onclick="send('c');" data-answer="c">C</button>
        </div>

        <div id="leaderBoardWrapper">
            <h2>Leaderboard</h2>
            <div id="leaderBoard">
                <div id="position1">
                    @if (Model.LeaderBoard.Scores.Count >= 1)
                    {
                        var text = Model.LeaderBoard.Scores[0].Name + ": " + Model.LeaderBoard.Scores[0].Amount;
                    <text>@text</text>
                    }
                </div>
                <div id="position2">
                    @if (Model.LeaderBoard.Scores.Count >= 2)
                    {
                        var text = Model.LeaderBoard.Scores[1].Name + ": " + Model.LeaderBoard.Scores[1].Amount;
                    <text>@text</text>
                    }
                </div>
                <div id="position3">
                    @if (Model.LeaderBoard.Scores.Count >= 3)
                    {
                        var text = Model.LeaderBoard.Scores[2].Name + ": " + Model.LeaderBoard.Scores[2].Amount;
                    <text>@text</text>
                    }
                </div>
            </div>
        </div>

        <div id="YourScoreWrapper">
            <div id="YourScoreBox">
                <h2>Your score</h2>
                <div id="YourScore">@Model.Score </div>
                <div id="YourPercent">@(Model.Percent)%</div>
            </div>

            <div id="YourPositionBox">
                <h2>Your rank</h2>
                <div id="YourPosition">@Model.Rank</div>
            </div>
        </div>
    </div>


    <script>
        let socket = new WebSocket(`@Html.GetProtocol()${window.location.host}/play/@Model.SessionName`);
        socket.onopen = function () {
            document.getElementById("statusSpan").innerHTML = "<span class='succes'>connected</span>";
        };

        socket.onclose = function () {
            document.getElementById("statusSpan").innerHTML = "disconnected";
        };

        socket.onerror = function () {

        };

        socket.onmessage = function (e) {
            const message = JSON.parse(e.data);

            if (message.Type === @((int)MessageType.Connect)) {
                ProcessConnect(message);
            }

            if (message.Type === @((int)MessageType.DisConnect)) {
                ProcessDisconnect(message);
            }

            if (message.Type === @((int) MessageType.PlayerReady)) {
                const playerElement = document.querySelector(`[data-player="${message.Name}"]`);
                if (playerElement !== null && playerElement !== undefined) {
                    playerElement.classList.add("playerReady");
                }
            }

            if (message.Type === @((int) MessageType.NextRound)) {
                ProcessNextRound(message);
                const playerElements = document.querySelectorAll('[data-player]');
                for (let i = 0; i < playerElements.length; i++) {
                    playerElements[i].classList.remove('playerReady');
                }
                const buttons = document.querySelectorAll("[data-id=answerbutton]");
                for (let i = 0; i < buttons.length; i++) {
                    buttons[i].style.visibility = "visible";
                }
            }

            if (message.Type === @((int) MessageType.YourScore)) {
                document.getElementById("YourScore").innerHTML = `${message.Score}`;
                document.getElementById("YourPercent").innerHTML = `${message.Percent}%`;
                document.getElementById("YourPosition").innerHTML = `${message.Rank}`;
            }
        }

        function send(a) {
            const buttons = document.querySelectorAll("[data-id=answerbutton]");
            for (let i = 0; i < buttons.length; i++) {
                const answer = buttons[i].getAttribute("data-answer");
                if (answer !== a) {
                    buttons[i].style.visibility = "hidden";
                }
            }
            const message = {
                "Option": a,
                Type: @((int)ClientMessageType.Answer)
            };

            sendMessage(socket, message);
        }
    </script>
</div>
