﻿/* =========================================== RESET =========================================== */

/* http://meyerweb.com/eric/tools/css/reset/ 
       v2.0 | 20110126
       License: none (public domain)
    */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, strong, sub, sup, b, u, i, ol, ul, li,
fieldset, form, label, legend, article, aside, canvas,
footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

input, button {
    margin: 0;
    padding: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

    button::-moz-focus-inner {
        border: 0
    }

a:focus {
    outline: none;
}

* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}





html,
body {
    height: 100%;
}

body {
    text-align: center;
    background-color: #222;
    color: white;
    font-family: 'Segoe UI', Geneva, sans-serif;
    background: url(../resourcs/gameshow.jpg) center center no-repeat;
    background-size: cover;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: 0 0 1px grey;
    /*border-radius: 10px;*/
    background-color: #373837;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 4px;
}

#wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 80px 24px 24px;
}

.gradient {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19000000', endColorstr='#33000000',GradientType=0 );
}

.blur {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0);
    opacity: 0.4;
}

button,
input[type=submit] {
    font-size: 28pt;
    margin: 8px;
    background-color: goldenrod;
    border: 1px solid black;
    padding: 16px 32px;
    height: 80px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 3px 5px 4px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 3px 5px 4px rgba(0,0,0,0.45);
    box-shadow: 0px 3px 5px 4px rgba(0,0,0,0.45);
    border-radius: 12px;
    /*background: linear-gradient(to bottom, rgb(111,27,136) 0%,rgb(57,0,74) 100%);*/
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 180% auto;
    border: 3px solid white;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 4px rgba(255,255,255,0.3);
    background-image: linear-gradient(to bottom right, #2C63AA 0%, #26a0da 51%, #0E3568 100%)
}

button {
    width: 104px;
    height: 104px;
}

    button:hover,
    input[type=submit]:hover{
        background-position: right center;
        box-shadow: 0 0 20px rgba(255,255,255,0.3);
    }


#status {
    display: block;
    position: fixed;
    width: 300px;
    left: 50%;
    bottom: 0;
    margin-left: -150px;
    margin-bottom: 8px;
    padding: 24px;
    text-align: center;
}

    #status span {
        display: inline-block;
        padding: 2px 16px 0;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 28px;
        font-weight: bold;
        color: white;
        border-radius: 3px;
    }

.succes {
    background-color: #5B9339;
}

.fail {
    background-color: #A82E2E;
}

.text-box {
    background-color: transparent;
    border: none;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    color: #808080;
    padding-left: 0;
    padding-bottom: 4px;
    font-size: 24px;
}

    .text-box.single-line {
        border-bottom: 1px solid #808080;
        display: block;
        text-align: center;
    }

input:focus, textarea:focus, select:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

h1 {
    margin-bottom: 16px;
    padding: 4px;
    color: rgb(200,200,200);
    text-transform: uppercase;
    font-size: 18px;
    text-shadow: 0 0 12px rgba(0,0,0,.8);
}

h2 {
    color: rgb(200,200,200);
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 8px;
}

#players {
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 100%;
    width: 200px;
    padding-left: 16px;
    text-align: left;
    padding: 24px;
    overflow-x: auto;
    text-align: right;
}

    #players p {
        color: rgb(255,255,255);
        line-height: 24px;
        font-size: 14px;
    }

        #players p.disconnected {
            text-decoration: line-through;
            color: red;
        }

        #players p.playerReady:after {
            content: " [ready]";
            color: green;
        }

.playerAnswer {
    margin-left: 4px;
    color: green;
}

    .playerAnswer:before {
        content: "[";
    }

    .playerAnswer:after {
        content: "]";
    }

#gameWrapper {
    width: 440px;
    margin: 0 auto;
}

#answerWrapper,
#leaderBoardWrapper,
#YourScoreWrapper,
#sessionWrapper {
    width: 440px;
    margin: 0 auto;
}

#YourScoreBox,
#YourPositionBox,
#answerWrapper,
#leaderBoardWrapper,
#sessionWrapper{
    padding: 24px;
    background-color: rgba(0,0,0,.75);
    border-radius: 8px;
    
}

#YourScoreBox,
#YourPositionBox {
    width: 215px;
    float: left;
}

#YourScoreBox {
    margin-right: 10px;
}

#sessionWrapper h1 {
    margin: 0px;
}
#sessionWrapper {
    padding: 8px;
}



#scores {
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 340px;
    padding: 24px;
    color: white;
    text-align: left;
    overflow-y: auto;
    max-width: 380px;
}

    #scores p {
        padding-left: 8px;
    }


#leaderBoardWrapper,
#answerWrapper {
    margin-top: 8px;
}

#leaderBoard {
    margin-top: 24px;
    font-size: 18pt;
}

    #leaderBoard div {
        margin-bottom: 12px;
    }

#position1 {
    color: gold;
    font-size: 24px;
}

#position2 {
    color: silver;
    font-size: 20px;
}

#position3 {
    font-size: 16px;
    color: #cd7f32;
}


#YourScoreWrapper {
    margin-top: 8px;
}

#YourScore, 
#YourPosition {
    color: white;
    font-size: 24px;
    margin: 0 auto;
    font-weight: bold;
}
