﻿@using socketsv2
@using socketsv2.Messages
@using socketsv2.Messages.Client

@model socketsv2.Models.PlayModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gradient"></div>
<div class="blur"></div>
<div id="wrapper">
    <div id="status">
        <span class="succes" id="statusSpan"></span>
    </div>

        <div id="scores">
        <h2>Correct answers</h2>
        <div id="scoresContent"></div>
    </div>
    

    <div id="players">
        <h2 id="header">Who's playing</h2>
        @foreach (var player in Model.ConnectedPlayers)
        {
            <p class="connected" data-player="@player">@player</p>
        }
    </div>

    <div class="gameWrapper">
        <div id="sessionWrapper">
            <h1>@Model.SessionName</h1>
        </div>
        <div id="answerWrapper" class="text-center">
            <h1>Vraag <span id="questionNumber">1</span></h1>
            <h1><span class="nameLabel">Correct answer:</span></h1>
            <input type="text" class="text-box single-line" id="correctAnswer" />
            <input type="submit" onclick="NextRound()" value="next round" />
        </div>
        <div id="leaderBoardWrapper">
            <h2>Leaderboard</h2>
            <div id="leaderBoard">
                <div id="position1">
                    @if (Model.LeaderBoard.Scores.Count >= 1)
                    {
                        var text = Model.LeaderBoard.Scores[0].Name + ": " + Model.LeaderBoard.Scores[0].Amount;
                        <text>@text</text>
                    }
                </div>
                <div id="position2">
                    @if (Model.LeaderBoard.Scores.Count >= 2)
                    {
                        var text = Model.LeaderBoard.Scores[1].Name + ": " + Model.LeaderBoard.Scores[1].Amount;
                        <text>@text</text>
                    }
                </div>
                <div id="position3">
                    @if (Model.LeaderBoard.Scores.Count >= 3)
                    {
                        var text = Model.LeaderBoard.Scores[2].Name + ": " + Model.LeaderBoard.Scores[1].Amount;
                        <text>@text</text>
                    }
                </div>
            </div>
        </div>
    </div>

        <script>
        const socket = new WebSocket(`@Html.GetProtocol()${window.location.host}/create/@Model.SessionName`);
        socket.onopen = function () {
            document.getElementById("statusSpan").innerHTML = "<span class='succes'>connected</span>";
        };

        socket.onclose = function () {
            document.getElementById("statusSpan").innerHTML = "disconnected";
            document.getElementById("statusSpan").classList.add("error");
        };

        socket.onerror = function () {

        };

        socket.onmessage = function (e) {
            const message = JSON.parse(e.data);

            if (message.Type === @((int)MessageType.Connect)) {
                ProcessConnect(message);
            }

            if (message.Type === @((int)MessageType.DisConnect)) {
                ProcessDisconnect(message);
            }

            if (message.Type === @((int)MessageType.Answer)) {
                const playerElement = document.querySelector(`[data-player="${message.Player}"]`);
                const answerElement = document.createElement("span");
                answerElement.innerHTML = message.Option;
                answerElement.classList.add("playerAnswer");
                playerElement.appendChild(answerElement);
            }

            if (message.Type === @((int) MessageType.NextRound)) {
                ProcessNextRound(message);
            }
        }

        function NextRound() {
            let round = document.querySelector('#questionNumber').innerHTML;
            const correctAnswer = document.getElementById('correctAnswer').value;
            if (correctAnswer === null || correctAnswer === undefined || correctAnswer === "")
                return;

            document.getElementById('correctAnswer').value = "";

            const correctPlayers = new  Array();
            const playerElements = document.querySelectorAll(`[data-player]`);
            for (let i = 0; i < playerElements.length; i++) {
                const answerElement = playerElements[i].querySelector('.playerAnswer');
                if (answerElement !== null &&
                    answerElement !== undefined &&
                    answerElement.innerHTML === correctAnswer) {
                    const name = (playerElements[i].firstChild.innerText || playerElements[i].firstChild.textContent);
                    correctPlayers.push(name);
                }
            }

            const message = {
                RoundNumber: round,
                Correct: correctPlayers,
                Type: @((int)ClientMessageType.NextRound)
            }

            for (let i = 0; i < playerElements.length; i++) {
                playerElements[i].innerHTML = (playerElements[i].firstChild.innerText || playerElements[i].firstChild.textContent);
            }

            sendMessage(socket, message);
        }
        </script>
    </div>
